.state {
  cursor: pointer;
}

.state .shape {
  cursor: pointer;
  -width: 0;
}

.state .label_icon_state {
  font-family: Arial;
  font-size: 11px;
  line-height: 12px;
  font-weight: normal;  
}

.state .label_state {
  display: none;
  font-family: Arial;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

.state:hover .label_state,
.state.hover .label_state {
  display: block;
}

.model-green .state .label_icon_state {
  fill: #000;
}

.model-green .state .label_state {
  fill: #666;
}

svg.content-map {
  display: block !important;
  margin: 16px auto 0 auto;
}
