$mat-red: (
  50: #ffebee,
  100: #ffcdd2,
  200: #ef9a9a,
  300: #e57373,
  400: #ef5350,
  500: #f44336,
  600: #e53935,
  700: #d32f2f,
  800: #c62828,
  900: #b71c1c,
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1744,
  A700: #d50000,
);

.state {
  cursor: pointer;
}

.state .shape {
  cursor: pointer;
  -width: 0;
}

.state .label_icon_state {
  fill: #fff;
  font-family: Arial;
  font-size: 11px;
  line-height: 12px;
  font-weight: normal;
}

.state .label_state {
  display: none;
  font-family: Arial;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

.state:hover .label_state,
.state.hover .label_state {
  display: block;
}

.model-green .state .shape {
  // fill: map-get($mat-red , 50);
  fill: #fff;
}

.model-green .state .icon_state {
  fill: map-get($mat-red , 500);
}

.model-green .state .label_icon_state {
  fill: #000;
}

.model-green .state .label_state {
  fill: #666;
}

.model-green .state:hover .shape,
.model-green .state.hover .shape {
  fill: map-get($mat-red , 500);
}

.model-green .state:hover .icon_state,
.model-green .state.hover .icon_state {
  fill: map-get($mat-red , 900);
}

svg.content-map {
  display: block !important;
  margin: 16px auto 0 auto;
}
