<div *ngIf="barChartData">
  <mat-card class="graph-card">
    <mat-card-header>
      <mat-card-title>Despesas: {{data.ultimoStatus.nome}}</mat-card-title>
      <mat-button-toggle-group
      #group="matButtonToggleGroup"
      (change)="ano = $event.value"
      value="2018"
      appearance="legacy">
        <mat-button-toggle value="2018" selected>2018</mat-button-toggle>
        <mat-button-toggle value="2017">2017</mat-button-toggle>
        <mat-button-toggle value="2016">2016</mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card-header>
    <mat-card-content>
      <canvas baseChart
      [(datasets)]="barChartData"
      [options]="barChartOptions"
      [(labels)]="barChartLabels"
      [legend]="barChartLegend"
      [(colors)]="barChartColors"
        chartType="pie" (chartClick)="onChartClick($event)" class="graph">
      </canvas>
      <div class="close">
        <span class="total">Total das Despesa no Ano: <b class="valor">{{total | currency}}</b></span>
        <button mat-raised-button (click)="onNoClick()" color="primary">Sair</button>
      </div>
    </mat-card-content>
    
  </mat-card>
</div>
<div class="loader" *ngIf="!barChartData">
  <mat-spinner class="align-midle"></mat-spinner>
</div>